/* Custom CSS Variables "Custom Properties" */
/* https://developer.mozilla.org/en-US/docs/Web/CSS/Using_CSS_custom_properties */
:root {
    --transition-duration: 0.2s;
}

.stickynav {
    font-family: 'Montserrat', sans-serif;
    font-size: 100%;
    font-weight: 100;
    background-color:azure;
    width: 100%;
    height: auto;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    position: sticky;
    top: 0;
    left: 0;
}

.stickynav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display:inline-flex;
    flex-direction:row;
    justify-content: space-between;
    align-items:center;
    
    border-bottom: 2px solid rgb(2, 204, 255);
}

.stickynav li {
    padding: 20px;
    flex: 0 1 auto;
}


@keyframes bouncy-diagonal-tween {
    0%, 100% {
        transform: translate(0, 0) scale(1.1);
    }
    25% {
        transform: translate(5px, 5px) scale(1.1);
    }
    75% {
        transform: translate(-5px, -5px) scale(1.1);
    }
}


.homebutton {
    background-color: azure;
    box-sizing: border-box;
    color: rgb(10, 10, 10);
    /* border-radius: 10px; */
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transform: scale(1);
    transform-origin: center;
    transition: 
        all var(--transition-duration) ease-in;
}

.homebutton:hover {
    transform: scale(1.1); /* Show the effect on hover */
    transform-origin: center;
    color: rgb(48, 48, 48);
    background-color:rgb(125, 214, 245);
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3);
    transition:
        all var(--transition-duration) ease-out;
    
    animation: bouncy-diagonal-tween 0.5s cubic-bezier(0.25, 0.1, 0.25, 1);
}

.homebutton:focus {
    user-select: auto;
}


